@import '../../variables.scss';

.diverse-experiences-section {
  padding: 4rem 5%;
  font-family: $epilogue-font;
  color: $primary-color;
  background-color: $secondary-color;
  text-align: left;
  margin-top: 4rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 4.5rem;
  }

  .divider {
    height: 0.3rem;
    background-color: $primary-color;
    width: 100%;
    margin-bottom: 4.5rem;
  }

  .content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text-section {
      flex: 1;
      margin-right: 2rem;
    }

    .career-image {
      max-width: 50%; // Using rem instead of px
      border-radius: 0.5rem; // Using rem instead of px
    }
  }

  p {
    font-size: 3.1rem;
    font-weight: 450;
    margin-bottom: 2rem;
    line-height: 1.8;
    max-width: 100%;
    display: flex;
    text-align: right;
  }

  .journey-button {
    position: relative;
    left: 65%;
    margin: 6.25rem 0 2rem 0; // top, right, bottom, left
    display: inline-block;
    margin: 2rem 0;
    padding: 0.5rem 1.5rem;
    background-color: $secondary-color;
    border: 2px solid $primary-color;
    border-radius: 1.5625rem; // Converted from px to rem
    text-align: center;
    transition: background-color 0.3s;
    cursor: pointer;
    font-family: $epilogue-font;
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: none;
    color: $primary-color;

    &:hover {
      background-color: $hover-color;
      color: $hover-text-color;
    }
  }
}
