@import '../../variables.scss';

.portfolio-container {
  @include container();
  display: flex;
  flex-direction: column;
  color: $primary-color;
}

.title,
.subtitle {
  margin-bottom: 1.5rem;
}

.subtitle {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.divider {
  @include divider();
}

.portfolio-grid {
  display: flex;
  width: 100%;

  &_column {
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .portfolio-item {
    border: 1px solid $primary-color;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 3rem;

    &:hover {
      transform: translateY(-10px);
    }

    .portfolio-image {
      width: 100%;
      height: auto;
      display: block;
      opacity: 1;
    }

    .portfolio-details {
      padding: 1rem;
      background: rgba($secondary-color, 0.7);

      h3 {
        margin-top: 0;
      }

      p {
        font-size: 0.9rem;
      }

      .view-button {
        @include button-styles();
      }
    }
  }
}

.modal-content {
  width: 50%; // reduced width for a more compact design
  max-width: 450px;
  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px; // reduced padding
  z-index: 1000;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 90%; // leave some margin around the image
    max-height: 40vh; // reduced height
    display: block;
    margin: 15px auto; // reduced margin
    border-radius: 5px;
  }

  h3 {
    font-size: 22px; // slightly reduced font size
    margin-top: 15px; // reduced margin
    color: $primary-color;
  }

  p {
    margin-top: 5px; // reduced margin
    color: $primary-color;
    font-size: 18px; // slightly reduced font size
  }

  // Flex container for the buttons
  div.buttons-container {
    display: flex;
    justify-content: space-between; // spread the buttons
    width: 100%; // take the full width of the modal
    margin-top: 10px;

    button {
      @include button-styles();
      flex: 1; // divide space equally between buttons
      margin: 0 5px; // some margin between the buttons
      padding: 8px 10px; // slightly reduced padding

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: $secondary-color; // white background
    border: 2px solid $primary-color; // black border
    border-radius: 100%; // ensure it's a circle
    font-size: 22px; // slightly reduced font size
    color: $primary-color; // black color for 'x'
    padding: 5px 10px; // adjust if needed to keep the circle appearance
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; // added color transition

    &:hover {
      background: $primary-color; // black background on hover
      color: $secondary-color; // white color for 'x' on hover
    }
  }
}
