.nav-bar {
    background: #D8C3A5;
    width: 120px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
  
    .logo {
      display: block;
      padding: 8px 0;
      text-decoration: none;
  
      img {
        display: block;
        margin: 8px auto;
        width: 120px;
        height: auto;
      }
  
      .Nav-Bar-Text {
        text-align: center;
        text-decoration: none;
        color: #e85a4f;
        font: 20px "Coolvetica";
      }
    }
  
    .logo:hover {
      text-decoration: none;
    }
  
    .Nav-bar2 {
      background: #D8C3A5;
      display: block;
      position: absolute;
      height: 210px;
      top: 50%;
      width: 100%;
      margin-top: -120px;
  
      a {
        font-size: 22px;
        color: #e85a4f;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 51px;
        position: relative;
        text-decoration: none;
        height: 51px;
  
        svg {
          transition: all 0.3s ease-in-out;
        }
  
        &::after {
          content: attr(data-label);
          font-size: 10px;
          letter-spacing: 2px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 100%;
          text-align: center;
          opacity: 0;
          transition: all 0.3s ease-out;
        }
  
        &:hover {
          svg {
            opacity: 0;
          }
  
          &::after {
            opacity: 1;
          }
        }
  
        &.active {
          svg {
            color: #e85a4f;
          }
        }
      }
    }
  
    .social-links {
        position: absolute;
        bottom: 20px;
        width: 100%;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        li {
          margin-bottom: 15px;
    
          a {
            color: #4d4d4e;
            text-decoration: none;
    
            &:hover {
              color: #e85a4f;
            }
    
            svg {
              width: 24px;
              height: auto;
            }
          }
        }
      }
    }

    /* 
#EAE7DC
#D8C3A5
#8E8D8A
#e98074
#e85a4f


*/
  