$epilogue-font: Epilogue, sans-serif;
$primary-color: #000;
$secondary-color: #fff;
$hover-color: black;
$hover-text-color: white;

// Breakpoints for responsive design
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-screen: 1440px;

// Mobile breakpoint
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

// Tablet breakpoint
@mixin tablet {
  @media (min-width: ($breakpoint-mobile + 1px)) and (max-width: $breakpoint-tablet) {
    @content;
  }
}

// Desktop breakpoint
@mixin desktop {
  @media (min-width: ($breakpoint-tablet + 1px)) and (max-width: $breakpoint-desktop) {
    @content;
  }
}

// Large Screen breakpoint
@mixin large-screen {
  @media (min-width: ($breakpoint-desktop + 1px)) {
    @content;
  }
}

// Mixin for padding
@mixin padding($top: 0, $right: $top, $bottom: $top, $left: $right) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

// Mixin for margin
@mixin margin($top: 0, $right: $top, $bottom: $top, $left: $right) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin divider() {
  height: 0.3rem;
  background-color: $primary-color;
  width: 100%;
  margin-bottom: 2rem;
}

@mixin container() {
  padding: 2rem 5%;
  font-family: $epilogue-font;
}

// New button styles mixin
@mixin button-styles() {
  display: inline-block;
  margin: 2rem auto;
  padding: 0.5rem 1.5rem;
  background-color: $secondary-color;
  border: 2px solid $primary-color;
  border-radius: 25px;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
  font-family: $epilogue-font;
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  color: $primary-color;

  &:hover {
    background-color: $hover-color;
    color: $hover-text-color;
  }
}
